@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@font-face {
  font-family: Kotra;
  src: url(../font/KOTRA\ HOPE.otf);
}
@media screen and (min-width: 1024px) {
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar {
    width: 5%;
  }
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar-button, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar-button, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar-button {
    display: none;
  }
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar-thumb, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar-thumb, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar-thumb {
    background-color: #9481a1;
  }
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar-track, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar-track, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar-track {
    background-color: rgba(0, 21, 255, 0.16);
  }
}
@media screen and (min-width: 1024px) and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar {
    width: 3%;
  }
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar-button, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar-button, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar-button {
    display: none;
  }
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar-thumb, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar-thumb, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar-thumb {
    background-color: #9481a1;
  }
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid::-webkit-scrollbar-track, section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid::-webkit-scrollbar-track, section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid::-webkit-scrollbar-track {
    background-color: rgba(0, 21, 255, 0.16);
  }
}

.linkbtns {
  cursor: pointer;
  color: #9481a1;
}
.linkbtns:link {
  color: #9481a1;
}
.linkbtns:visited {
  color: #9481a1;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.customPage {
  width: 100%;
  height: 100vh;
}

header {
  top: 0%;
  left: 0%;
  position: fixed;
  width: 100%;
  height: minmax(-webkit-max-content, 8vh);
  height: minmax(-moz-max-content, 8vh);
  height: minmax(max-content, 8vh);
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.2);
  color: #d5cff5;
  background-color: #9481a1;
}
header #header__titleLogo {
  width: minmax(max-conent, 5%);
  height: 7vh;
  padding-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Concert One", cursive;
  font-size: 2em;
  font-weight: bold;
  color: #d5cff5;
}
header #header__icons {
  height: max-content1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 0;
  list-style: none;
  color: #d5cff5;
}
@media screen and (min-width: 1024px) {
  header #header__icons {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header #header__icons li {
    margin-right: 1vw;
  }
}
@media screen and (max-width: 480px) {
  header #header__icons {
    width: 30%;
    padding-right: 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header #header__icons {
    width: 20%;
    padding-right: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  header #header__icons {
    width: 20%;
    padding-right: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
header #header__icons li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.2em;
  padding: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 15%/15%;
  color: #9481a1;
  background-color: #d5cff5;
}

section {
  padding-top: 7vh;
  width: 100%;
  height: 93vh;
  background-color: #a5a6e9;
}
section .customPage__choosePoseText {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d5cff5;
  background-color: #9481a1;
}
section .customPage__choosePoseText p {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  section .customPage__choosePoseText p {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__choosePoseText p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__choosePoseText p {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__choosePoseText p {
    font-size: 1.2em;
  }
}
section .cover {
  width: 100%;
  height: 90%;
  position: relative;
}
section .customPage__myPoseContainer {
  position: absolute;
  z-index: 0;
  background-color: #9481a1;
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
section .customPage__myPoseContainer .customPage__myPoseContainer__picBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5cff5;
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox {
    height: 75vh;
    aspect-ratio: 1/3;
    border-radius: 8%/2%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox {
    height: 25vh;
    aspect-ratio: 3/1;
    border-radius: 8%/2%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox {
    height: 80vh;
    aspect-ratio: 1/3;
    border-radius: 8%/2%;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox {
    height: 75vh;
    aspect-ratio: 1/3;
    border-radius: 8%/2%;
  }
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid {
    width: 92%;
    aspect-ratio: 1/3;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid {
    width: 92%;
    aspect-ratio: 3/1;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid {
    width: 90%;
    aspect-ratio: 1/3;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid {
    width: 92%;
    aspect-ratio: 1/3;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(4, 1fr);
  }
}
section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid .customPage__myPoseContainer__picBox__grid__pic {
  border: medium dashed #9481a1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5cff5;
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid .customPage__myPoseContainer__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid .customPage__myPoseContainer__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid .customPage__myPoseContainer__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid .customPage__myPoseContainer__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
section .customPage__myPoseContainer .customPage__myPoseContainer__picBox .customPage__myPoseContainer__picBox__grid .customPage__myPoseContainer__picBox__grid__pic .customPage__myPoseContainer__picBox__grid__pic__innerText {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #9481a1;
}
section .customPage__myPoseContainerCover {
  position: absolute;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainerCover {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainerCover {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainerCover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainerCover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox {
    height: 75vh;
    aspect-ratio: 1/3;
    border-radius: 8%/2%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox {
    height: 25vh;
    aspect-ratio: 3/1;
    border-radius: 8%/2%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox {
    height: 80vh;
    aspect-ratio: 1/3;
    border-radius: 8%/2%;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox {
    height: 75vh;
    aspect-ratio: 1/3;
    border-radius: 8%/2%;
  }
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid {
    width: 92%;
    aspect-ratio: 1/3;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid {
    width: 92%;
    aspect-ratio: 3/1;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid {
    width: 90%;
    aspect-ratio: 1/3;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid {
    width: 92%;
    aspect-ratio: 1/3;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(4, 1fr);
  }
}
section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid .customPage__myPoseContainerCover__picBox__grid__pic {
  background-color: #fffaff;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid .customPage__myPoseContainerCover__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid .customPage__myPoseContainerCover__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid .customPage__myPoseContainerCover__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__myPoseContainerCover .customPage__myPoseContainerCover__picBox .customPage__myPoseContainerCover__picBox__grid .customPage__myPoseContainerCover__picBox__grid__pic {
    grid-column: span 1;
    grid-row: span 1;
  }
}
section .customPage__searchPic__nav {
  width: 30px;
  aspect-ratio: 1/3;
  border-radius: 6%/8%;
  right: 1%;
  bottom: 40%;
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #9481a1;
  background-color: #d5cff5;
}
section .customPage__navMenu {
  position: absolute;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  section .customPage__navMenu {
    top: 15vh;
    width: 100%;
    height: 85vh;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__navMenu {
    top: 15vh;
    width: 25%;
    height: 85vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__navMenu {
    top: 15vh;
    width: 30%;
    height: 85vh;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__navMenu {
    top: 17vh;
    width: 35%;
    height: 83vh;
  }
}
section .customPage__navMenu__collapse {
  width: 100%;
  height: 100%;
  max-width: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a5a6e9;
  box-shadow: 2px 10px 5px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
section .customPage__navMenu__collapse .customPage__navMenu__collapse__categories {
  width: 92%;
  height: 18%;
}
section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid {
  width: 92%;
  height: 80%;
  display: grid;
  overflow-y: scroll;
  gap: 4%;
}
@media screen and (max-width: 480px) {
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(4, 30%);
    grid-auto-columns: 48%;
    grid-auto-rows: 30%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(4, 10%);
    grid-auto-columns: 48%;
    grid-auto-rows: 10%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(4, 25%);
    grid-auto-columns: 48%;
    grid-auto-rows: 25%;
  }
}
@media screen and (min-width: 1024px) {
  section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid {
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(4, 40%);
    grid-auto-columns: 48%;
    grid-auto-rows: 40%;
  }
}
section .customPage__navMenu__collapse .customPage__navMenu__collapse__grid .posePictureBox {
  grid-column: span 1;
  grid-row: span 1;
  aspect-ratio: 4/3;
  overflow: hidden;
  background-color: #fffaff;
  cursor: pointer;
}

.navArrow_left,
.navArrow_right {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 60px;
  top: 8%;
  z-index: 2;
  position: absolute;
  font-size: 3em;
  color: #d5cff5;
  cursor: pointer;
}

.navArrow_left {
  padding-left: 1%;
  left: 0%;
}

.navArrow_right {
  padding-right: 1%;
  right: 0%;
}/*# sourceMappingURL=customPageStyles.css.map */