@import "other_scss/variables"; //변수는 맨 위에
@import "other_scss/responsive"; //반응형 사이즈 설정
@import "other_scss/buttons";
@import "other_scss/linkBtns";

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap"); //사용 폰트

body {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
}
.linkbtns {
  @extend %link;
}

.customPage {
  width: 100%;
  height: 100vh;
}
header {
  top: 0%;
  left: 0%;
  position: fixed;

  width: 100%;
  height: minmax(max-content, $headerHeight);

  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 5px 1px rgb(0, 0, 0, 0.2);
  color: $themeColor02;
  background-color: $themeColor01;
  #header__titleLogo {
    width: minmax(max-conent, 5%);
    height: 7vh;
    padding-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $logoFont;
    font-size: 2em;
    font-weight: bold;

    color: $themeColor02;
  }

  #header__icons {
    height: max-content + 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0;

    list-style: none;
    color: $themeColor02;
    @include responsive("window") {
      width: 15%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        margin-right: 1vw;
      }
    }
    @include responsive("mobile") {
      width: 30%;
      padding-right: 5vw;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    @include responsive("tablet") {
      width: 20%;
      padding-right: 1vw;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    @include responsive("mobile-l") {
      width: 20%;
      padding-right: 1vw;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    li {
      width: max-content;
      height: max-content;
      font-size: 1.2em;

      padding: 0.2em;
      padding-left: 0.3em;
      padding-right: 0.3em;
      border-radius: 15% / 15%;

      color: $themeColor01;
      background-color: $themeColor02;
    }
  }
}

section {
  padding-top: 7vh;
  width: 100%;
  height: 93vh;

  background-color: $themeColor03;

  .customPage__choosePoseText {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $themeColor02;
    background-color: $themeColor01;
    p {
      font-weight: bold;
      @include responsive("mobile") {
        font-size: 1.3em;
      }
      @include responsive("mobile-l") {
        font-size: 1.2em;
      }
      @include responsive("tablet") {
        font-size: 1.5em;
      }
      @include responsive("window") {
        font-size: 1.2em;
      }
    }
  }

  .cover {
    width: 100%;
    height: 90%;

    position: relative;
  }

  .customPage__myPoseContainer {
    position: absolute;
    z-index: 0;

    background-color: $themeColor01;
    @include responsive("mobile") {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    @include responsive("mobile-l") {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    @include responsive("tablet") {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    @include responsive("window") {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .customPage__myPoseContainer__picBox {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $themeColor02;
      @include responsive("mobile") {
        height: 75vh;
        aspect-ratio: 1 / 3;

        border-radius: 8% / 2%;
      }
      @include responsive("mobile-l") {
        height: 25vh;
        aspect-ratio: 3 / 1;

        border-radius: 8% / 2%;
      }
      @include responsive("tablet") {
        height: 80vh;
        aspect-ratio: 1 / 3;

        border-radius: 8% / 2%;
      }
      @include responsive("window") {
        height: 75vh;
        aspect-ratio: 1 / 3;

        border-radius: 8% / 2%;
      }

      .customPage__myPoseContainer__picBox__grid {
        @include responsive("mobile") {
          width: 92%;
          aspect-ratio: 1 / 3;

          display: grid;
          gap: 1em;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
        }
        @include responsive("mobile-l") {
          width: 92%;
          aspect-ratio: 3 / 1;

          display: grid;
          gap: 1em;
          grid-template-columns: repeat(4, 1fr);
        }
        @include responsive("tablet") {
          width: 90%;
          aspect-ratio: 1 / 3;

          display: grid;
          gap: 1em;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
        }
        @include responsive("window") {
          width: 92%;
          aspect-ratio: 1 / 3;

          display: grid;
          gap: 1em;
          grid-template-rows: repeat(4, 1fr);
        }

        @extend %scrollbar;

        .customPage__myPoseContainer__picBox__grid__pic {
          border: medium dashed $themeColor01;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $themeColor02;

          @include responsive("mobile") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("mobile-l") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("tablet") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("window") {
            grid-column: span 1;
            grid-row: span 1;
          }
          .customPage__myPoseContainer__picBox__grid__pic__innerText {
            font-size: 2em;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: $themeColor01;
          }
        }
      }
    }
  }
  .customPage__myPoseContainerCover {
    position: absolute;
    left: 0;

    width: 100%;

    @include responsive("mobile") {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    @include responsive("mobile-l") {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    @include responsive("tablet") {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    @include responsive("window") {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .customPage__myPoseContainerCover__picBox {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      @include responsive("mobile") {
        height: 75vh;
        aspect-ratio: 1 / 3;

        border-radius: 8% / 2%;
      }
      @include responsive("mobile-l") {
        height: 25vh;
        aspect-ratio: 3 / 1;

        border-radius: 8% / 2%;
      }
      @include responsive("tablet") {
        height: 80vh;
        aspect-ratio: 1 / 3;

        border-radius: 8% / 2%;
      }
      @include responsive("window") {
        height: 75vh;
        aspect-ratio: 1 / 3;

        border-radius: 8% / 2%;
      }

      .customPage__myPoseContainerCover__picBox__grid {
        @include responsive("mobile") {
          width: 92%;
          aspect-ratio: 1 / 3;

          display: grid;
          gap: 1em;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
        }
        @include responsive("mobile-l") {
          width: 92%;
          aspect-ratio: 3 / 1;

          display: grid;
          gap: 1em;
          grid-template-columns: repeat(4, 1fr);
        }
        @include responsive("tablet") {
          width: 90%;
          aspect-ratio: 1 / 3;

          display: grid;
          gap: 1em;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(4, 1fr);
        }
        @include responsive("window") {
          width: 92%;
          aspect-ratio: 1 / 3;

          display: grid;
          gap: 1em;
          grid-template-rows: repeat(4, 1fr);
        }

        @extend %scrollbar;

        .customPage__myPoseContainerCover__picBox__grid__pic {
          background-color: $themeColor04;
          overflow: hidden;
          @include responsive("mobile") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("mobile-l") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("tablet") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("window") {
            grid-column: span 1;
            grid-row: span 1;
          }
        }
      }
    }
  }
  .customPage__searchPic__nav {
    width: 30px;
    aspect-ratio: 1 / 3;
    border-radius: 6% / 8%;

    right: 1%;
    bottom: 40%;
    position: absolute;
    z-index: 4;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    color: $themeColor01;
    background-color: $themeColor02;
  }
  .customPage__navMenu {
    position: absolute;
    right: 0;
    z-index: 3;

    display: flex;
    justify-content: flex-end;

    @include responsive("mobile") {
      top: 15vh;
      width: 100%;
      height: 85vh;
    }
    @include responsive("mobile-l") {
      top: 15vh;
      width: 25%;
      height: 85vh;
    }
    @include responsive("tablet") {
      top: 15vh;
      width: 30%;
      height: 85vh;
    }
    @include responsive("window") {
      top: 17vh;
      width: 35%;
      height: 83vh;
    }
  }
  .customPage__navMenu__collapse {
    width: 100%;
    height: 100%;
    max-width: 0;

    transition: all 0.5s ease-in-out;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $themeColor03;
    box-shadow: 2px 10px 5px 1px rgb(0, 0, 0, 0.2);

    cursor: pointer;
    .customPage__navMenu__collapse__categories {
      width: 92%;
      height: 18%;
    }
    .customPage__navMenu__collapse__grid {
      width: 92%;
      height: 80%;

      display: grid;
      overflow-y: scroll;
      @extend %scrollbar;

      gap: 4%;
      @include responsive("mobile") {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(4, 30%);
        grid-auto-columns: 48%;
        grid-auto-rows: 30%;
      }
      @include responsive("mobile-l") {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(4, 10%);
        grid-auto-columns: 48%;
        grid-auto-rows: 10%;
      }
      @include responsive("tablet") {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(4, 25%);
        grid-auto-columns: 48%;
        grid-auto-rows: 25%;
      }
      @include responsive("window") {
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(4, 40%);
        grid-auto-columns: 48%;
        grid-auto-rows: 40%;
      }
      .posePictureBox {
        grid-column: span 1;
        grid-row: span 1;
        aspect-ratio: 4 / 3;

        overflow: hidden;

        background-color: $themeColor04;

        cursor: pointer;
      }
    }
  }
}

.navArrow_left,
.navArrow_right {
  width: max-content;
  height: 60px;
  top: 8%;
  z-index: 2;
  position: absolute;

  font-size: 3em;

  color: $themeColor02;

  cursor: pointer;
}
.navArrow_left {
  padding-left: 1%;
  left: 0%;
}
.navArrow_right {
  padding-right: 1%;
  right: 0%;
}
