@import "other_scss/variables"; //변수는 맨 위에
@import "other_scss/responsive"; //반응형 사이즈 설정
@import "other_scss/buttons";
@import "other_scss/linkBtns";

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap"); //사용 폰트

body {
  width: 100%;
  height: 90vh;
  margin: 0;
}
.linkbtns {
  @extend %link;
}
header {
  top: 0;
  left: 0;
  position: fixed;

  width: 100%;
  height: minmax(max-content, $headerHeight);

  display: flex;
  justify-content: space-between;

  color: $themeColor02;
  @include responsive("mobile") {
    background-color: $mobileColor;
  }
  @include responsive("mobile-l") {
    background-color: $mobile-lColor;
  }
  @include responsive("tablet") {
    background-color: $tabletColor;
  }
  @include responsive("window") {
    background-color: $themeColor01;
  }

  #header__titleLogo {
    width: minmax(max-conent, 5%);
    height: 7vh;
    padding-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $logoFont;
    font-size: 2em;
    font-weight: bold;

    color: $themeColor02;
  }

  #header__icons {
    height: max-content + 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0;

    list-style: none;
    color: $themeColor02;
    @include responsive("window") {
      width: 15%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        margin-right: 1vw;
      }
    }
    @include responsive("mobile") {
      width: 30%;
      padding-right: 5vw;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    @include responsive("tablet") {
      width: 20%;
      padding-right: 1vw;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    @include responsive("mobile-l") {
      width: 20%;
      padding-right: 1vw;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    li {
      width: max-content;
      height: max-content;
      font-size: 1.2em;

      padding: 0.2em;
      padding-left: 0.3em;
      padding-right: 0.3em;
      border-radius: 15% / 15%;

      color: $themeColor01;
      background-color: $themeColor02;
    }
  }
}

section {
  padding-top: $headerHeight;
  width: 100%;
  height: $sectionHeight;

  background-color: $backgroundColor01;

  .customPage__choosePoseText {
    width: 100%;
    @include responsive("mobile") {
      height: 10%;
    }
    @include responsive("mobile-l") {
      height: 10%;
    }
    @include responsive("tablet") {
      height: 10%;
    }
    @include responsive("window") {
      height: 5%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    color: $themeColor02;
    background-color: $themeColor01;
    p {
      font-weight: bold;
      @include responsive("mobile") {
        font-size: 1.3em;
      }
      @include responsive("mobile-l") {
        font-size: 1.2em;
      }
      @include responsive("tablet") {
        font-size: 1.5em;
      }
      @include responsive("window") {
        font-size: 1.2em;
      }
    }
  }

  .customPage__myPoseContainer {
    width: 98%;

    padding-left: 2%;
    @include responsive("mobile") {
      height: 68%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    @include responsive("mobile-l") {
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include responsive("tablet") {
      height: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    @include responsive("window") {
      height: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    background-color: $themeColor01;

    .customPage__myPoseContainer__picBox {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $themeColor02;
      @include responsive("mobile") {
        width: 70%;
        aspect-ratio: 29 / 40;

        border-radius: 8% / 6%;
      }
      @include responsive("mobile-l") {
        width: 80%;
        aspect-ratio: 10 / 3;

        border-radius: 2% / 8%;
      }
      @include responsive("tablet") {
        width: 60%;
        aspect-ratio: 29 / 40;

        border-radius: 8% / 6%;
      }
      @include responsive("window") {
        width: 80%;
        aspect-ratio: 11 / 3;

        border-radius: 2% / 8%;
      }

      .customPage__myPoseContainer__picBox__grid {
        overflow-x: scroll;
        @include responsive("mobile") {
          width: 92%;
          aspect-ratio: 29 / 40;

          display: grid;
          gap: 1em;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(1fr, 4);
        }
        @include responsive("mobile-l") {
          width: 92%;
          aspect-ratio: 3 / 1;
          display: flex;
          flex-wrap: nowrap;
        }
        @include responsive("tablet") {
          width: 90%;
          aspect-ratio: 29 / 40;

          display: grid;
          gap: 1em;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(1fr, 4);
        }
        @include responsive("window") {
          width: 92%;
          aspect-ratio: 11 / 3;
          display: flex;
          flex-wrap: nowrap;
        }

        @extend %scrollbar;

        .customPage__myPoseContainer__picBox__grid__pic {
          border: medium dashed $themeColor01;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $themeColor02;

          @include responsive("mobile") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("mobile-l") {
            width: 40%;
            aspect-ratio: 4 / 3;

            margin-right: 5%;
          }
          @include responsive("tablet") {
            grid-column: span 1;
            grid-row: span 1;
          }
          @include responsive("window") {
            width: 40%;
            aspect-ratio: 4 /3;

            margin-right: 5%;
          }
          .customPage__myPoseContainer__picBox__grid__pic__innerText {
            font-size: 2em;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            color: $themeColor01;
          }
        }
      }
    }
    .customPage__myPoseContainer__tools {
      @include responsive("mobile") {
        width: 90%;
        height: 10%;
        background-color: $mobileColor;
      }
      @include responsive("mobile-l") {
        width: 15%;
        aspect-ratio: 3 / 5;
        background-color: $mobile-lColor;
      }
      @include responsive("tablet") {
        width: 30%;
        aspect-ratio: 1 / 1;

        border-radius: 8% / 8%;

        background-color: $tabletColor;
      }
      @include responsive("window") {
        width: 15%;
        aspect-ratio: 3 / 5;
        background-color: $windowColor;
      }
    }
  }
}
