@import "other_scss/variables"; //변수는 맨 위에
@import "other_scss/responsive"; //반응형 사이즈 설정
@import "other_scss/buttons";
@import "other_scss/linkBtns";
@import "other_scss/hashStyle";

@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap"); //사용 폰트

body {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
}
.linkbtns {
  @extend %link;
}

header {
  top: 0%;
  left: 0%;
  position: fixed;

  width: 100%;
  height: minmax(max-content, $headerHeight);

  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 5px 1px rgb(0, 0, 0, 0.2);
  color: $themeColor02;
  @include responsive("mobile") {
    background-color: $themeColor01;
  }
  @include responsive("mobile-l") {
    background-color: $mobile-lColor;
  }
  @include responsive("tablet") {
    background-color: $tabletColor;
  }
  @include responsive("window") {
    background-color: $themeColor01;
  }

  #header__titleLogo {
    width: minmax(max-conent, 5%);
    height: 7vh;
    padding-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $logoFont;
    font-size: 2em;
    font-weight: bold;

    color: $themeColor02;
  }

  #header__icons {
    height: max-content + 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin: 0;

    list-style: none;
    color: $themeColor02;
    @include responsive("window") {
      width: 15%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        margin-right: 1vw;
      }
    }
    @include responsive("mobile") {
      width: 30%;
      padding-right: 5vw;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    @include responsive("tablet") {
      width: 20%;
      padding-right: 1vw;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    @include responsive("mobile-l") {
      width: 20%;
      padding-right: 1vw;

      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    li {
      width: max-content;
      height: max-content;
      font-size: 1.2em;

      padding: 0.2em;
      padding-left: 0.3em;
      padding-right: 0.3em;
      border-radius: 15% / 15%;

      color: $themeColor01;
      background-color: $themeColor02;
    }
  }
}

.publicPage {
  width: 100%;
  height: 100vh;

  section {
    padding-top: $headerHeight;
    width: 100%;
    height: $sectionHeight;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: $backgroundColor02;
    .publicPage__filterContainer {
      width: 100%;
      height: 7%;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      background-color: $filterColor;
      .publicPage__filterContainer__filters {
        width: 83%;
        height: 100%;
        display: flex;

        flex-wrap: wrap;
        overflow: auto;
        align-items: center;
        .chosenFilter {
          @extend %hash;
        }
      }
      .publicPage__filterContainer__choose {
        height: 90%;
        aspect-ratio: 1 /1;
        border-radius: 15% / 15%;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3.3vh;

        color: $themeColor01;
        background-color: $themeColor02;
      }
    }
  }
  .publicPage__picContainer {
    width: 100%;
    height: 93%;

    overflow-y: auto;

    display: grid;
    gap: 5px;

    background-color: $themeColor01;
    @include responsive("mobile") {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 30vh;
    }

    @include responsive("mobile-l") {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 30vh;
    }
    @include responsive("tablet") {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 30vh;
    }
    @include responsive("window") {
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 55vh;
    }
    .publicPictureBox {
      grid-row: span 1;
      grid-column: span 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(5, 5, 146, 0.397);
      .publicPicture {
        height: 80%;
        aspect-ratio: 29 / 40;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .pulicPicture__tags {
        width: 100%;
        height: 20%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: auto;
        .tag {
          font-size: 0.9em;
          @extend %hash;
        }
      }
    }
  }
}

#vulture {
  background-image: url("../testImages/vulture.jpg");
}
#dog01 {
  background-image: url("../testImages/dog01.jpg");
}

#dog02 {
  background-image: url("../testImages/dog02.jpg");
}
#dog03 {
  background-image: url("../testImages/dog03.jpg");
}
#dog04 {
  background-image: url("../testImages/dog04.jpg");
}
#dog05 {
  background-image: url("../testImages/dog05.jpg");
}
#dog06 {
  background-image: url("../testImages/dog06.jpg");
}
