$themeColor01: navy;
$themeColor02: #f5d042;
$backgroundColor01: #f5d042;
$backgroundColor02: navy;
$mobileColor: red;
$mobile-lColor: purple;
$tabletColor: green;
$windowColor: aqua;
$filterColor: rgba(0, 0, 0, 0.2);

$headerHeight: 8vh;
$sectionHeight: 92vh;
$myPoseContainerHeight: 83vh;

$logoFont: "Concert One", cursive;
